<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <%- include('navbar') %>
        <div class="container mt-5">
            <h1>Reservation Details</h1>
            <div class="card">
                <div class="card-header">
                    Reservation for <%= reservation.date.toISOString().slice(0, 10) %> at <%= reservation.time %>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Number of Guests: <%= reservation.numberOfPeople %>
                    </h5>
                    <p class="card-text">Reservation under the name: <%= reservation.resName %>
                    </p>
                    <p class="card-text">Notes: <%= reservation.notes || 'No additional notes' %>
                    </p>
                    <p class="card-text">Smoking Area: <%= reservation.smoking ? 'Yes' : 'No' %>
                    </p>
                    <p class="card-text">Suitable for Children: <%= reservation.children ? 'Yes' : 'No' %>
                    </p>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="/reservations/edit/<%= reservation._id %>" class="btn btn-primary">Edit</a>
                        <a href="/reservations/delete/<%= reservation._id %>" class="btn btn-danger"
                            onclick="return confirm('Are you sure you want to delete this reservation?');">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>